page-login {
}


.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 84%;
    align-content: center;
}


.col {
    background-color: #2DB1FF;
    padding: 25px;
}

.button-md {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 540;
}

#login {
    margin-left: 2em;
}

#register {
    padding-left: 2em;
    padding-right: 2em;
}

.LR {
    position: absolute;
    padding-top: 4em;
    padding-left: 2em;
    width: 90%;
}

.formLog {
    padding-top: 2em;
}


