<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Sign Up</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form (submit)='onSubmit($event)'>
    <ion-list>

      <!-- Name input PS: Do not use 'name' for propriety name cause of bugs -->
      <ion-item>
        <ion-label floating>First Name</ion-label>
        <ion-input type='text' name='firstName' #firstNameInput='ngModel' [(ngModel)]='registerRequest.name' required></ion-input>
      </ion-item>
      <!-- Error message displayed if the name is invalid -->
      <ion-item *ngIf='firstNameInput.invalid && firstNameInput.dirty' no-lines>
        <p ion-text color='danger'>First Name is required.</p>
      </ion-item>
      <!-- Username input
       TODO: Test if unique
       -->
      <ion-item>
        <ion-label floating>Username</ion-label>
        <ion-input (change)="isUnique(usernameInput.value)" type='text' name='username' #usernameInput='ngModel'
          [(ngModel)]='registerRequest.username' required minlength="6"></ion-input>
      </ion-item>
      <ion-item *ngIf='usernameInput.invalid && usernameInput.dirty' no-lines>
        <p ion-text color='danger'>Username must be valid</p>
      </ion-item>
      <ion-item *ngIf='!unique && usernameInput.dirty' no-lines>
        <p ion-text color='danger'>Username already exist.</p>
      </ion-item>

      <!-- Password input -->
      <ion-item>
        <ion-label floating>Password</ion-label>
        <ion-input type='password' name='password' #passwordInput='ngModel' [(ngModel)]='registerRequest.password'
          required minlength="6"></ion-input>
      </ion-item>
      <ion-item *ngIf='passwordInput.invalid && passwordInput.dirty' no-lines>
        <p ion-text color='danger'>Password is required.</p>
      </ion-item>

      <!-- Date of birth input -->
      <ion-item>
        <ion-label floating>Birthdate</ion-label>
        <ion-input type='date' name='birthDate' #birthDateInput='ngModel' [(ngModel)]='registerRequest.dateBirth'
          required></ion-input>
      </ion-item>
      <ion-item *ngIf='birthDateInput.invalid && birthDateInput.dirty' no-lines>
        <p ion-text color='danger'>birthDate is required.</p>
      </ion-item>

      <!-- City -->
      <ion-item>
        <ion-label floating>City</ion-label>
        <ion-input type='text' name='city' #cityInput='ngModel' [(ngModel)]='registerRequest.city' required></ion-input>
      </ion-item>
      <ion-item *ngIf='cityInput.invalid && cityInput.dirty' no-lines>
        <p ion-text color='danger'>City is required.</p>
      </ion-item>
      <!-- Gender input -->
      <ion-item>
        <ion-label floating>Gender</ion-label>
        <ion-select name='gender' class="selector" #genderInput='ngModel' [(ngModel)]='registerRequest.gender' required>
          <ion-option class="option" value="female">Female</ion-option>
          <ion-option class="option" value="male">Male</ion-option>
          <ion-option class="option" value="other">Other</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <div class="row buttonRegister">
      <div padding>
        <!-- Registration link -->
        <button class="col back" ion-button round block [navPush]="loginPage">Back to Login</button>
      </div>
      <div padding>

        <!-- Submit button -->
        <button type='submit' class="col signUp" [disabled]='form.invalid' ion-button round block>Sign Up</button>

        <!-- Error message displayed if the login failed -->
        <p *ngIf='registerError' ion-text color='danger'>A field is invalid : {{backendMessage}}</p>

      </div>
    </div>
  </form>

</ion-content>