<ion-header>
  <ion-navbar>
    <ion-title>My Profile</ion-title>
    <!-- Logout button -->
    <ion-buttons end>
      <button ion-button icon-only (click)='logOut()'>
        <ion-icon name='log-out'></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <div name="picturesDiv">
    <span>My pictures</span>
    <ul>
      <li *ngFor="let picture of pictures">
        <img [src]="picture.src">
      </li>
    </ul>
  </div>
  <div name="myInformations">
    <form (submit)='onSubmit($event)'>
      <button ion-button (click)='takePicture()'>Take a Picture</button>
      <img *ngIf='picture' [src]='picture.url' />
      <ion-input [(ngModel)]='pictureRequest.description' type='text' name='descriptionPic'></ion-input>
      <ion-item>
        <ion-label floating>Description</ion-label>
        <ion-input [(ngModel)]='profileRequest.description' type='text' name='description'></ion-input>
      </ion-item>
      <ion-label floating>Interests</ion-label>
      <ion-item>
        <tag-input name="tag" [(ngModel)]='profileRequest.tag' [editable]='true' (onTagEdited)="onTagEdited($event)"></tag-input>
      </ion-item>
      <button  type='submit' [disabled]='form.invalid' ion-button block>Save</button>
    </form>
  </div>
</ion-content>
