page-profile {
}

.scroll-content {
    background-color: rgb(249, 250, 250)!important;
}

.addIcon {
    font-size: 2.2em;
    color: #2DB1FF;
}

.addButton {
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
    background-color: #ffffff;
}

.saveButton {
    background-color: #ffffff;
    color: black; 
}

