<ion-header>

  <ion-navbar>
    <ion-title>updateRdv</ion-title>
  </ion-navbar>

</ion-header>
<ion-content padding>
  <form (submit)='onSubmit($event)'>
    <ion-list>

      <!-- Title input -->
      <ion-item>
        <ion-label floating>Title</ion-label>
        <ion-input type='text' name='title'
                   #titleInput='ngModel' [(ngModel)]='createrdv.purposeTitle' required></ion-input>
      </ion-item>

      <!-- Error message displayed if the username is invalid -->
      <ion-item *ngIf='titleInput.invalid && titleInput.dirty' no-lines>
        <p ion-text color='danger'>Title is required.</p>
      </ion-item>


      <!-- Description input -->
      <ion-item>
        <ion-label floating>Description</ion-label>
        <ion-input type='text' name='descrition' #descriptionInput='ngModel' [(ngModel)]='createrdv.description'
                   required></ion-input>
      </ion-item>

      <!-- Error message displayed if the description is invalid -->
      <ion-item *ngIf='descriptionInput.invalid && descriptionInput.dirty' no-lines>
        <p ion-text color='danger'>Description is required.</p>
      </ion-item>

    </ion-list>
    <div padding>
      <!-- Submit button -->
      <button type='submit' [disabled]='form.invalid' ion-button block>Save changes</button>

      <!-- Error message displayed if the login failed -->
      <p *ngIf='createRdvError' ion-text color='danger'>You might have done something wrong, please check your
        inputs.</p>
    </div>
  </form>

</ion-content>
